@model  IEnumerable<WebApplication2.Models.MasterDataModel>

@{
    ViewBag.Title = "Index";
}

<h2>Employee Master Data</h2>
<button id="btnAddEmployee">Add Employee</button>
@{
    if (Model.Any())
    {
    <table>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td> <a href="~/MasterData/EditEmployee?id=@item.Id">Edit</a></td>
                <td> <a href="~/MasterData/Delete?id=@item.Id">Delete</a></td>
            </tr>
            }
        </tbody>
    </table>
    }

}
<style>
    td{
        padding: 12px;
    }
</style>