
@{
    ViewBag.Title = "Index";
}

<h2>Time Log</h2>

<div>
    <label>Email</label>
    <input type="hidden" id="Email" value="@ViewBag.Email"/>
</div>



<button id="btnTimeIn">Time In</button>
<button id="btnTimeOut">Time Out</button>

